// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.services-img-small {
  border-radius: 20px;
  height: auto;
  max-width: 45%;
  margin-bottom: 10px;
}

#services {
  padding-top:75px;
}
